body{background: skyblue;}
div{text-align: center; margin-left: 700 ; 

}
h1{ text-align: center;margin-right: 500; height:60; background: orangered;margin-top: -75; margin-bottom: -50; color: white;

}
h2{background: ivory; color: black; 

}
strong{color: orangered;}
h3{text-align: center;margin-right: 600; margin-top: -220;

}
